.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 25px;
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $datagreen_light;
  color: $white;
  &:hover {
    color: $white;
  }
}
