<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico" />
    <meta name="description" content="{{ page.description }}"/>
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="website">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/cookies.js"></script>
</head>
<body>
<div class="welcome">
    {% include header.html %}
    <div>
        <p><img src="{{ site.url }}{{ site.baseurl }}/assets/images/aside/Datama_logo_horizontal2.png" data-origin="images/Datama_logo_horizontal2.png" alt="logo2"></p>
        <h1> Smart analytics. Documented </h1>
        <a id="gotoDoc" href="#menu" class="btn btn-primary">Get Started</a>
    </div>
    <span class="bounce"><i class="fas fa-angle-down"></i></span>
</div>
{% include navigation.html nav=site.data.navigation %}
<main>
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% include footer.html %}
</main>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
