<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico" />
    <meta name="description" content="{{ page.description }}"/>
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.img_url }}">
    <meta name="og:video" content="{{ site.url }}{{ site.baseurl }}{{ page.img_url }}">
    <meta name="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.img_url }}">
    <meta name="og:image:width" content="{{ page.img_width }}">
    <meta name="og:image:height" content="{{ page.img_height }}">
    <meta property="og:image:type" content="{{ page.img_type }}"/>
    <meta content="video.other" property="og:type" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/cookies.js"></script>
</head>
<body>
{% include navigation.html nav=site.data.navigation %}
<main>
    {% include header.html %}
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% include footer.html %}
</main>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
