<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="website">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.js"></script>
</head>
<body>
<aside id="menu">
    <a href="#" class="burger"><i class="fas fa-bars"></i></a>
    <nav>
        {% include navigation.html nav=site.data.navigation %}
    </nav>
</aside>
<main>
    {{ content }}
</main>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
